.mainnav {
    background-color: #282c34;
    display: flex;
    width: calc(100%-40px);
    height: 20vh;
    padding: 20px;
    gap: 20px;
    justify-content: stretch;
    align-items: stretch;
    flex: 1;
}
  
.mainnav__element {
    flex: 1 0 10%;
    background: pink;
    display: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
  
  
.homepage {
    display: flex;
    justify-content: stretch;
    height: 80vh;
}
  
  .leftnav {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    align-items: stretch;
    width: 20%;
    height: 80vh;
    padding: 20px;
  }
  
  .leftnav__element {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: yellow;
    padding: 10px;
    padding: 10px;
    flex: 1 0 10%;
  }
  .centercontent {
    background-color: #282c34;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: stretch;
    justify-content: space-evenly;
    width: 50%;
    padding: 20px;
  }
  .centercontent__element {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 10%;
    background: greenyellow;
    padding: 10px;
  }
  
  .rightcontent {
    background-color: #282c34; 
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly;
    width: 30%;
    padding: 20px;
  }
  .rightcontent__element {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 10%;
    background: cyan;
    padding: 10px;
  }
  
  body {
    height: 100%;
  }
  
  [class$="element"]:hover {
    filter: brightness(90%);
  }

  .main {
    background-color: #282c34;
    background-size: auto;
    min-height: 100vh;
  }

  .commitment{
    /* display: flex;
    flex-direction: column; */
    width: 80%;
    height: 80vh;
    padding: 20px;
    overflow: scroll;
  }

  .commitment__element {
    text-align: left;
    font-size: 15px;
    line-height: 2.1;
    display: flex;
    /* font-size: small; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    overflow: scroll;
    overflow-x: scroll;
  }

  .title{
    margin-top: auto;
    padding-top: 5vh;
    text-align: center;
    color:beige;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  